@font-face {
  font-family: Delicious;
  font-src: url("../fonts/Delicious-Roman.otf"); }

@font-face {
  font-family: Delicious;
  font-src: url("../fonts/Delicious-Bold.otf");
  font-weight: bold; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header, footer, article, section, nav, aside, hgroup, figure {
  display: block; }

body > header, body > #main, body > footer {
  margin: 0 auto;
  width: 96em; }

body {
  font-family: sans-serif;
  font-size: 62.5%; }
  body > header {
    border-bottom: 1px solid black;
    padding: 2em 0; }
    body > header a img {
      float: left;
      height: 11.3em;
      width: 30em; }
    body > header nav {
      float: right;
      font-size: 2em;
      padding: 60px 0 0 0; }
      body > header nav ul {
        display: inline; }
        body > header nav ul li {
          color: #aaaaaa;
          display: inline;
          padding: 0 5px; }
          body > header nav ul li a {
            color: #888888; }
            body > header nav ul li a:hover, body > header nav ul li a.active {
              color: black;
              text-decoration: underline; }
  body #content {
    border-right: 1px dashed #aaaaaa;
    float: left;
    min-height: 60em;
    padding: 1em;
    width: 72em; }
    body #content article {
      font-size: 1.6em; }
      body #content article h1 {
        font-size: 2em; }
        body #content article h1 .hint {
          color: #555555;
          font-size: 0.5em; }
      body #content article h2 {
        font-size: 1.25em;
        font-weight: bold; }
      body #content article a {
        color: black; }
      body #content article > header {
        border-bottom: 1px dashed #aaaaaa;
        padding: 10px 0; }
        body #content article > header h1 {
          font-size: 1.625em;
          float: left; }
        body #content article > header .date {
          color: #555555;
          float: right;
          font-size: 0.75em; }
      body #content article > section p {
        line-height: 1.25em;
        padding: 0.625em 0; }
        body #content article > section p a {
          font-weight: bold; }
          body #content article > section p a:visited {
            color: #444444; }
      body #content article > section .read_more p {
        float: right;
        padding-top: 0;
        padding-right: 2em; }
    body #content .resume h1 {
      font-size: 2.5em; }
    body #content .resume h2 {
      font-size: 1.25em;
      font-weight: bold;
      padding-top: 1.25em; }
    body #content .resume h3 {
      font-style: italic;
      font-weight: bold;
      padding-left: 1.25em; }
    body #content .resume p {
      line-height: 1.25em;
      padding-left: 1.25em; }
      body #content .resume p.job {
        padding-top: 1.25em; }
    body #content .resume a {
      color: black;
      font-weight: bold; }
      body #content .resume a.std {
        font-weight: normal; }
      body #content .resume a:visited {
        color: #444444; }
    body #content .resume ul {
      list-style: circle;
      margin-left: 2.5em;
      padding-top: 0.938em; }
      body #content .resume ul li {
        padding: 0.313em 0; }
        body #content .resume ul li:last-child {
          padding-bottom: 0; }
    body #content .resume table {
      padding-left: 1.25em; }
      body #content .resume table td {
        padding: 0.5em 0; }
  body #sidebar {
    float: right;
    padding-top: 2em;
    width: 19.2em; }
    body #sidebar h3 {
      font-size: 2em; }
    body #sidebar ul {
      list-style: circle;
      margin: 0.5em 0 2em 2em; }
      body #sidebar ul li {
        font-size: 1.4em;
        padding: 0.5em 0; }
        body #sidebar ul li a {
          color: #333333; }
    body #sidebar figure {
      clear: both;
      font-size: 1.4em;
      padding: 1em 0; }
      body #sidebar figure span {
        color: #333333;
        font-size: 0.714em; }
      body #sidebar figure a {
        color: black; }
        body #sidebar figure a img {
          float: left;
          padding-right: 0.5em; }
  body > footer {
    border-top: 1px solid black;
    clear: both; }
    body > footer p {
      color: #333333;
      padding: 1em; }
      body > footer p a {
        color: black; }
    body > footer .validations {
      float: right; }

section.work {
  border: 1px solid #999999;
  float: left;
  height: 18.125em;
  margin: 0.5em;
  padding: 0.625em;
  text-align: center; }
  section.work h3, section.work p {
    text-align: justify;
    width: 12.5em;
    margin: 0 auto; }
  section.work h3 {
    padding-bottom: 0.625em; }
  section.work p {
    font-size: 0.75em;
    width: 16.7em; }

.img_flt_rt {
  float: right; }

.clear {
  clear: both; }

.strike {
  text-decoration: line-through; }
