%article
  %header
    %h2
      = link_to post.title, url_for(:posts, :show, :id => post)
    .date
      Created
      = time_ago_in_words(post.created_at || Time.now) + ' ago'
    .clear
  %section
    %p
      = truncate(post.body, :length => 500)
    .read_more
      %p
        = link_to "read more", url_for(:posts, :show, :id => post)
      .clear
      %hr
