%article
  %header
    %h1
      = link_to post.title
      %br
      %span.hint (click post title to toggle story)
    .date
      Created
      = time_ago_in_words(post.created_at || Time.now) + ' ago'
    .clear
  %section
    = post.body
    .read_more
      %hr
