- @title = "Home"
%article
  %header
    %h2
      - if @post
        = @post.title
      - else
        No Posts Yet
    - if @post
      .date
        Created
        = time_ago_in_words(@post.created_at || Time.now) + ' ago'
    .clear
  - if @post
    %section
      = simple_format(@post.body)
